.switch input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 23px;
}

.switch-container {
  text-align: right;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgb(64, 64, 64);
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  top: -2px;
  left: -10px;
  background-color: rgb(158, 158, 158);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1db954;
  border: 2px solid #1db954;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:focus + .slider:before,
input:checked + .slider:before,
input:hover + .slider:before {
  background-color: #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*round slider*/
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/*label*/
.label {
  text-align: left;
}

.label::first-letter {
  text-transform: capitalize;
}
/*the toggle switch container*/
.toggle-switch {
  margin-bottom: 20px;
}
