.error-container {
  background-color: rgb(205, 26, 43);
  color: rgb(255, 255, 255);
  text-align: left;
  height: 50px;
  margin-bottom: 15px;
}
.error-container p {
  font-size: 0.7em;
  display: inline-block;
  margin: 6px 10px 6px 0;
}

.error-container i {
  margin: 0 10px;
}

.error-container .icon {
  margin: 14px 0;
}
