.profile{
    position:relative;
}

#root .profile__text{
   font-size: 1.1rem;
   font-weight: 300;
   color:rgb(255,255,255);
   text-overflow:ellipsis;
   font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;
}