input[type=text] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(51, 51, 51, 0.95);
  color: #cccccc;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder {
  color: #cccccc;
}

input[type=text]:focus {
  background-color: rgba(64, 64, 64, 0.95);
}
